* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(248, 244, 244);
    height: 100%;
    font-family: serif;
}

body::after {
    content: "";
    background-size: cover;
    z-index: -2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bg-image {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-container {
    overflow: hidden;
    display: grid;
    grid-template-rows: minmax(930px 350px);
}

.sub-container-a {
    background-color: rgb(21, 21, 22);
    color: #fff;
    border-radius: 60px;
    margin: 20px 0 20px 20px;
    min-height: 980px;
}

.sub-container-b {
    color: #000;
    margin: 0 0 15px 0;
}

.container {
    text-align: center;
}

.profile-picture {
    display: block;
    margin: 30px auto -10px auto;
    width: 40%;
    border-radius: 40%;
}

#banner {
    text-align: center;
}

.heading {
    color: #fff;
    font-size: 3rem;
    margin-bottom: -10px;
    
}

.heading-2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -50px;
}


#section-a {
    display: block; 
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: left;
    margin: 70px -70px -50px -20px;
    line-height: 3rem;
}

li {
    margin-left: 20%;
    list-style: none;
    font-weight: bolder;
}

.bio-data {
    color: rgb(39, 55, 145);
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: -2px;
}

.info-items {
    padding: 2rem;
    font-weight: normal;
    margin-left: 90px;
}

.title {
    margin-top: 30px;
    font-size: 30px;
    color: rgb(39, 55, 145);
    text-align: center;
}

.paragraph {
    font-size: 20px;
    line-height: 3rem;
    margin: 0 40px 0 40px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    display: none;

}

input {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 600px;
    max-width: 600px;
    padding: 2rem;
    margin-left: 13px;
    background-color: #ccd6e0;
    border: none;
    border-radius: 10px;
    outline: none;
}

textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 600px;
    max-width: 715px;
    padding: 1.5rem;
    margin-left: 13px;
    background-color: #ccd6e0;;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}

.btn {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    min-width: 250px;
    max-width: 300px;
    background-color: rgb(21, 21, 22);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(41, 42, 44);
    cursor: pointer;
}

#footer{
    text-align: center;
}

a {
    color: #000;
    padding: 1rem;
} a:hover {
    color: rgb(20, 34, 114);
}

@media screen
and (min-width: 608px)
and (min-width: 961px)  
and (min-width: 1025px)
and (min-width: 1281px)
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1){
    .main-container {
        display: grid;
        grid-template-columns: 500px 700px;
        overflow: hidden;
    }

    .sub-container-b {
        margin-right: -100px;
    }

    .profile-picture {
        display: block;
        margin: 30px auto -10px auto;
        width: 40%;
        border-radius: 40%;
    }

    #section-a {
        display: block; 
        font-size: 1.5rem;
        line-height: 4rem;
        text-align: left;
        margin-top: 90px;
    }

    .heading {
        font-size: 55px;
    }

    .heading-2 {
        font-size: 25px;
    }

    .items {
        padding: 1rem;
        margin-left: 0px;
    }
    
    #section-b {
        text-align: left;
        margin: 0 0 0 50px;
    }
    .paragraph {
        text-align: left;
        line-height: 3rem;
    }
    
    .title {
        text-align: center;
    }


    .form-group {
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    input {
        min-width: 500px;
        font-size: 18px;
    }#firstname {
        margin-left: 170px;
    }#lastname {
        margin-left: 170px;
    }
    #phone {
        margin-left: 170px;
    }
    #email {
        margin-left: 170px;
    }
    
    label {
        display: none;
    }

    textarea {
        font-family: inherit;
        font-size: 18px;
        min-width: 605px;
        margin-left: 120px;
    }
    textarea::placeholder {
        font-family: serif;
        font-size: 18px;
    }
    

    .btn {
        margin-top: 20px;
        margin-left: 265px;
        text-align: center;
    }

}


/**
@media only screen 
and (max-width:335px)
and (max-width:430px)  
and (max-width:600px)
and (max-width: 700px) {
    .container {
        text-align: center;
    }

    .profile-picture {
        border-radius: 40%;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 40px;
        height: 300px;
        margin-left: 260px;
        
    }

    #banner {
        display: flex;
        flex-direction: row;
    }

    .heading {
        position: relative;
        top: 70px;
        left: 40px;
        font-size: 55px;
    }

    .heading-2 {
        position: relative;
        top: 200px;
        right: 305px;
        font-size: 25px;
    }

    #section-a {
        text-align: left;
        margin: 0 0 0 330px;
    }

    .items {
        margin-left: 200px;
    }
    
    #section-b {
        margin: 0 170px 0 170px;
    }
    .paragraph {
        text-align: left;
        line-height: 3rem;
    }
    
    .title {
        text-align: center;
    }
    #section-c {
        margin: 0 30px 0 30px;
    }

    form {
        display: flex;
        flex-flow: wrap;
    }

    .form-group {
        text-align: center;
    }

    input {
        max-width: 350px;
        font-size: 18px;
    }#firstname {
        margin-left: 260px;
    }

    #phone {
        margin-left: 260px;
    }
    
    label {
        display: none;
    }

    textarea {
        font-family: inherit;
        font-size: 18px;
        min-width: 715px;
        margin-left: 260px;
    }
    textarea::placeholder {
        font-family: serif;
        font-size: 18px;
    }

    .btn {
        margin-top: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    

    .profile-picture {
        width: 50%;
        margin-top: 20px;
    }
    
    .heading {
        padding: 1.5rem;
        font-size: 45px;
        text-align: center;
    }

    .heading-2 {
        text-align: center;
    }
    #banner {
        margin-right: 50px;
        margin-top: 30px;
    }

    pre {
        display: flex;
        white-space: pre-line;
        text-align: center;
        margin-bottom: 10px;
        line-height: 2rem;
    }
    
    .paragraph {
        line-height: 3rem;
    }

    #section-b {
        margin: 0 150px 0 150px;
    }

    .info-items {
        margin-left: 100px;
        text-align: center;
    }

    li {
        line-height: 1rem;
        font-size: 30px;
        text-align: left;
    }
    form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        text-align: center;
    }

    label {
        display: none;
    }

    input {
        font-size: 18px;
        font-family: inherit;
        padding: 1.5rem;
        min-width: 600px;
    }

    textarea {
        padding: 1.5rem;
        min-width: 600px;
        margin-left: 170px;
    }

    .item-1 {
        margin-left: 110px;
    }

    .item-2 {
        margin-left: 55px
    }
    
    .item-3 {
        margin-left: 74px;
    }

    .item-4 {
        margin-left: 135px;
    }

    .item-5 {
        margin-left: 91px;
    }

    .item-6 {
        margin-left: 85px;
    }

    .item-7 {
        margin-left: 124px;
    }

    textarea::placeholder {
        font-family: serif;
        font-size: 18px;
    }

    .btn {
        margin-top: 20px;
        text-align: center;
    }
}**/

